/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Botão */
#openPopupBtn {
    padding: 10px 20px;
    background-color: #007863;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
}

/* Popup */
.popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

/* Atualizações para a estrutura do popup */
.popup-content {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    width: 70%; /* Ajuste de largura para mais conteúdo */
    max-width: 800px; /* Limite de largura para grandes telas */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
}

/* Estilo do conteúdo */
.detalhes {
    display: flex;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
}

.info{
    background-color: #007863;
    padding: 10px;
    margin: 10px 0;
    border-radius: 30px;
    color: white;
    height:100px;
    width: 200px;
    flex: 1 1 calc(50% - 20px); 
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 23px;
    display: flex;
    flex-direction: column;
}
.info strong {
    font-size: 23px; /* Ajuste conforme necessário */
}
.info span {
    margin-top: 5px; /* Espaço entre a primeira e a segunda linha */
    font-size: 18px; /* Tamanho menor para a segunda linha */
}



/* Imagem */
img {
    width: 400px;
    border-radius: 5px;
}
.headerpopup{
    background-color: #007863;
    padding: 10px;
    margin: 10px 0;
    margin-top: 30px;
    border-radius: 10px 10px 0 0; /* Bordas arredondadas para o topo */
    color: white;
}
.headerpopup p{
    color: white;
}
.text-image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px; /* Espaçamento entre o texto e a imagem */
    margin-top: 20px;
}
.text-image-container .text {
    flex: 1;
    color: #007863;
}
.text ul {
    list-style-type: disc; /* Define o marcador como uma bolinha */
    list-style-position: inside; /* Coloca a bolinha dentro do contêiner da lista */
    color: #007863; /* Cor da bolinha */
    padding-left: 10px; /* Ajuste para espaçamento à esquerda */
}
.text ul li {
    color: black; /* Cor do texto */
    font-weight: bold; /* Negrito no texto */
    margin: 5px 0; /* Espaçamento entre os itens da lista */
}
