 /* Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007863;
    padding: 15px 20px;
    color: white;
}

.Nomedainstituicao h1 {
    height: 60px;
}

.search-bar {
    position: relative;
    display: flex;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 50%; /* Definir uma largura para a barra de pesquisa */
    max-width: 600px; /* Limite de largura */
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    width: 100%; /* Deixa o input ocupar toda a barra de pesquisa */
    font-size: 16px;
    margin-right: 10px;
}

.search-bar i {
    color: #007863;
    font-size: 24px;
}

.sign-in-btn {
    background-color: #D4AC0D;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.search-container{
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin-top: 20px; /* Ajuste de margem conforme necessário */
}
.sign-in-btn:hover {
    background-color: #B58600;
}

/* Carrossel */
.carousel {
    position: relative;
    margin: 50px;
    width: 80%;
    /*padding: 0 20px;*/
    margin-bottom: 230px;
    margin-top: 100px;
}

.carousel-container {
    display: flex;
    /*justify-content: space-around;*/
    transition: transform 0.5s ease;
    width: calc(250px * 4);
   
}

.carousel-item {
    min-width: 250px;
    margin: 0 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    /*width: 250px;*/
    text-align: center;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.carousel-text h3 {
    font-size: 18px;
    color: #333;
}

.carousel-text p {
    font-size: 14px;
    color: #777;
    margin-bottom: 15px;
}

.carousel-text button {
    background-color: #007863;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.carousel-nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Para distribuir as setas nas extremidades */
}

.prev,
.next {
    font-size: 30px; /* Tamanho das setas */
    color: #007863; /* Cor das setas */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: color 0.3s; /* Animação de transição para a cor */
}

.prev:hover,
.next:hover {
    color: #000; /* Cor ao passar o mouse */
}

/* Footer */
.footer1 {
    background-color: #f0f0f0;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    
}

.footer-logo img {
    height: 100px;
    
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
}
.footer-text{
    display: flex;
    justify-content: space-between;
    width: 70%;
}
.footer-section1{
    margin-right: 40px;
}
.footer-section1 h4 {
    margin-bottom: 10px;
    color: #007863;
}
.footer-section1 p, .footer-section li {
    color: #000000;
    font-size: 14px;
}
.header1{
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #007863;
        padding: 25px 30px;
        
    
}
/*
.header-image{
    height: 350px;
    width: 100%;
    background-position: center;  Centraliza a imagem 
    display: flex;
    justify-content: center;
    
}
*/
.header-image{
    height: 430px;
    width: 100%;
   overflow: hidden;
   
    
}

.header-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}